html 
{ 
  height: 100% 
}

body 
{ 
  height: 100%; 
  margin: 0; 
  padding: 0 
}

select, button, body
{
  font-size: 12pt;
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
}

#map_canvas 
{ 
  position: absolute;
  top: 67px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}

#headerpanel
{
  height: 55px;
  width: 100%;
  padding: 5px;
  background-color: White;
  border-bottom: 2px solid black;
}

#clockpanel
{
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid black;
  color: Red;
  font-weight: bold;
  font-size: 24px;
  font-family: ‘Courier New’, Courier, monospace;
  left: 20px;
  bottom: 20px;
  width: 280px;
  height: 25px;
  text-align: center;
}

#infolink
{
  float: right;
  margin-right: 10px;
}

#buttons
{
  position: absolute;
  height: 35px;
  width: 170px;
  margin: 0 0 0 -85px;
  left: 50%;
  top: 10px;
  text-align: center;
}

#buttons a
{
  font-size: 10pt;
}

.selector-row 
{
  padding-bottom: 2px;
}

.selector-row *, .selector-row span *
{
  vertical-align: middle;
}

.help
{
  background-color: #DDD;
  color: White;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: bold;
  vertical-align: top;
}

.help:hover
{
  cursor: pointer;
}

dl dt
{
  float: left;
  clear: left;
  font-weight: bold;
  width: 6em;
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

dl dd
{
  float: left;
  padding: 0;
  margin: 0;
  margin-left: 0;
  padding-left: 0;
}